*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 62.25%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  color: #0C0F0A;
  background-color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.header,
.footer {
  padding: 24px 0;
  text-align: center;
}

.footer {
  font-size: 1.4rem;
}

.title {
  margin: 0;
}

.game {
  width: 500px;
  height: 200px;
  border: 1px solid #0C0F0A;
}

.dino {
  width: 20px;
  height: 50px;
  background-color: #FBFF12;
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 500ms;
}

.cactus {
  width: 20px;
  height: 20px;
  background-color: #41EAD4;
  position: relative;
  top: 130px;
  left: 480px;
  animation: shifting 1s infinite;
}

@keyframes jump {
  0% {
    top: 150px;
  } 30% {
    top: 100px;
  } 70% {
    top: 100px;
  } 100% {
    top: 150px;
  }
}

@keyframes shifting {
  0% {
    left: 480px;
  } 100% {
    left: -40px;
  }
}